.collogoCompany{
    text-align: center;
    color: #282658;
    width: 120px;
} 
.nbrTweetsTexte{
    font-weight: bold !important;
}
.logoCompany{
    border-width:2px;
    border-style:solid;
    border-color:#282658;
}
// loader d'attente du chargement du top10
.spinner-container {
    height: 100%;
    position: relative;
}